/* app css stylesheet */

a {
    cursor: pointer;
}

.caption {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    text-align: center;
    color: transparent;
}

.caption span.border {
    background-color: transparent;
    color: white;
    padding: 18px;
    font-size: 25px;
    letter-spacing: 10px;
}