<html>

<body ng-controller="contractorLoginCtrl">
    <!-- To show the navigation bar at the top -->
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <p class="navbar-brand">Site Access Checkpoint</p>
            </div>
            <ul class="nav navbar-nav">
                <li><a href="#">Home</a></li>
                <li><a href="#/contractorLogin">Contractor</a></li>
                <li><a href="#/contractorAdmin">Admin</a></li>
                <li><a href="#/safetyTraining">Safety Training</a></li>
            </ul>
        </div>
    </nav>
    <div class="row">
        <div class="container">
            <div class="col-md-6">
                <form role="form" name="contractorLoginForm" ng-submit="contractorLogin()" novalidate="">
                    <legend>Contractor's Login</legend>
                    <div class="row">
                        <div class="col-md-5">
                            <div class="form-group" ng-class="{'has-error': contractorForm.pin.$invalid && contractorForm.pin.$touched}">
                                <label for="pin">PIN</label>
                                <input type="text" name="pin" class="form-control" placeholder="Pin" ng-model="loginPin" ng-minlength="1" required=""> <small class="help-block" ng-show="contractorForm.pin.$error.minlength && contractorForm.pin.$touched">Please enter a valid PIN.</small> </div>
                            <div class="form-group">
                                <button type="submit" class="btn btn-primary" ng-click="contractorLogin()" data-target="#loginConfirmModal" data-toggle="modal">Login</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <!-- Modal for confirming the contractors information for login-->
            <div id="loginConfirmModal" class="modal fade" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4>Confirming Contractor</h4> </div>
                        <div class="modal-body">
                            <p>Name: {{name}}</p>
                            <p>Company: {{company}}</p>
                            <div class="modal-footer">
                                <p>Does information above looks correct?</p>
                                <button type="button" class="btn btn-sm btn-primary" ng-click="loginConfirmed()">Yes</button>
                                <button type="button" class="btn btn-sm btn-default" data-dismiss="modal">No</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <form role="form" name="contractorLogoutForm" ng-submit="contractorLogout()" novalidate="">
                    <legend>Contractor's Logout</legend>
                    <div class="row">
                        <div class="col-md-5">
                            <!-- <div class="form-group">
                                <label for="company">Company</label>
                                <select class="form-control" ng-model="contractor.company">
                                    <option disabled selected>Choose your option</option>
                                    <option>Kellog</option>
                                    <option>Meijer</option>
                                    <option>CSM</option>
                                </select>
                            </div>-->
                            <div class="form-group" ng-class="{'has-error': contractorForm.pin.$invalid && contractorForm.pin.$touched}">
                                <label for="pin">PIN</label>
                                <input type="text" name="pin" class="form-control" placeholder="Pin" ng-model="logoutPin" ng-minlength="1" required=""> <small class="help-block" ng-show="contractorForm.pin.$error.minlength && contractorForm.pin.$touched">Please enter a valid PIN.</small> </div>
                            <div class="form-group">
                                <button type="submit" class="btn btn-primary" ng-click="contractorLogout()" ng-disabled="contractorForm.$invalid" data-target="#logoutConfirmModal" data-toggle="modal">LogOut</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <!-- Modal for confirming the contractors information for logout-->
            <div id="logoutConfirmModal" class="modal fade" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4>Confirming Contractor</h4> </div>
                        <div class="modal-body">
                            <p>Name: {{name}}</p>
                            <p>Company: {{company}}</p>
                        </div>
                        <div class="modal-footer">
                            <p>Does information above looks correct?</p>
                            <button type="button" class="btn btn-sm btn-primary" ng-click="logoutConfirmed()">Yes</button>
                            <button type="button" class="btn btn-sm btn-default" data-dismiss="modal">No</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>