<body ng-controller="contractorLoginCtrl">
   <div id="loginConfirmModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4>Confirming Contractor</h4> </div>
            <div class="modal-body">
                <p ng-model="contractorInfo.name">Name: {{name}}</p>
                <p>Company: {{company}}</p>
                <div class="modal-footer">
                    <p>Does information above looks correct?</p>
                    <button type="button" class="btn btn-sm btn-primary" ng-click="loginConfirmed()">Yes</button>
                    <button type="button" class="btn btn-sm btn-default" data-dismiss="modal">No</button>
                </div>
            </div>
        </div>
    </div>
</div>
</body>