<html>

<body ng-controller="home.js">
    <!-- To show the navigation bar at the top -->
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header"> <a href="#/home" class="navbar-brand">Home</a> </div>
            <ul class="nav navbar-nav">
                <!--<li><a href="#/addContractor">Create Contractors</a></li>-->
                <li><a href="#/showContractors">Show Contractors</a></li>
                <li><a href="#/reports">Reports</a></li>
                <li><a href="#/adminSettings">Settings</a></li>
                <li ng-click="logout()"><a href="#">Logout</a></li>
            </ul>
        </div>
    </nav>
    <h3>
      <strong>Current Contractors on Job Site</strong> 
   </h3>
    <!--A container to show all the contractors who are on site -->
    <div class="row row-offcanvas row-offcanvas-right">
        <div class="col-xs-12 col-sm-8">
            <div class="table-responsive">
                <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Company</th>
                            <th>Login Time</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="contractor in contractors">
                            <td ng-if="contractor.currentLoginStatus == '1'">{{contractor.name}}</td>
                            <td ng-if="contractor.currentLoginStatus == '1'">{{contractor.company}}</td>
                            <td ng-if="contractor.currentLoginStatus == '1'">{{contractor.loginTime}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!--A container to show all the contractors who needs to update their safety training. -->
    <h3>
      <strong>Contractors Who Need Their Safety Training Updated</strong> 
   </h3>
    <div class="row row-offcanvas row-offcanvas-right">
        <div class="col-xs-12 col-sm-8">
            <div class="table-responsive">
                <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>PIN</th>
                            <th>Last Safety Training Date</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="contractor in getArray">
                            <td>{{contractor.name}}</td>
                            <td>{{contractor.pin}}</td>
                            <td>{{contractor.date | date:'MM/dd/yyyy'}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>

</html>