<html>

<body ng-controller="addContractorCtrl">
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <!-- This is used to display a navbar options at top.-->
            <div class="navbar-header"> <a href="#/home" class="navbar-brand">Home</a> </div>
            <ul class="nav navbar-nav">
                <li><a href="#/showContractors">Show Contractors</a></li>
                <li><a href="#/reports">Reports</a></li>
                <li><a href="#/adminSettings">Settings</a></li>
                <li ng-click="logout()"><a href="#">Logout</a></li>
            </ul>
        </div>
    </nav>
    <!--This will alert with the success status if query is succeeded to add a new contrcator in the database-->
    <div class="container" ng-show="success">
        <div class="row">
            <div class="alert alert-success"> <strong>Success!</strong> The contractor has beed added. </div>
        </div>
    </div>
    <!--This form will get the required information from the user to add a new contractor.-->
    <div> <a href="#/showContractors"><span class="glyphicon glyphicon-arrow-left" > Go Back</span></a> </div>
    <div class="container">
        <form role="form" id="contractorForm" name="contractorForm" novalidate="">
            <legend>Create Contractor</legend>
            <div class="row">
                <div class="col-md-5">
                    <label for="Safety Training">Safety Training Date</label>
                    <p>Pick a date
                        <button button type="text" class="center-block form-control" name="date" ng-flat-datepicker datepicker-config="datepickerConfig" ng-model="date">{{date | date:'MM/dd/yyyy'}}</button>
                    </p>
                    <div class="form-group" ng-class="{'has-error': contractorForm.name.$invalid && contractorForm.name.$touched}">
                        <label for="name">Name</label>
                        <input type="text" name="name" class="form-control" placeholder="Name" ng-model="contractor.name" ng-minlength="1" required=""> <small class="help-block" ng-show="contractorForm.name.$error.minlength && contractorForm.name.$touched">Please enter a valid name.</small> </div>
                    <div class="form-group">
                        <label for="company">Company</label>
                        <select class="form-control" ng-model="contractor.company">
                            <option disabled selected>Choose your option</option>
                            <option ng-repeat="company in companies">{{company.company}}</option>
                        </select>
                    </div>
                    <div class="form-group" ng-class="{'has-error': contractorForm.pin.$invalid && contractorForm.pin.$touched}">
                        <label for="pin">PIN</label>
                        <input type="text" name="pin" class="form-control" placeholder="Pin" ng-model="contractor.pin" ng-minlength="1" required=""> <small class="help-block" ng-show="contractorForm.pin.$error.minlength && contractorForm.pin.$touched">Please enter a valid PIN.</small> </div>

                    <div class="form-group">
                        <button type="submit" class="btn btn-primary" ng-disabled="contractorForm.$invalid" ng-click="createContractor()">Add Contractor</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
     <div id="dupContractorModal" class="modal fade" role="dialog" >
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h2>Contractor already in system!</h4> </div>
                        <div class="modal-body">
                             <h4>PIN number is already in use by another contractor. Please try another.</h2>
                        </div>
                    </div>
                </div>
            </div>
</body>

</html>